[Unit]
Description=Docker Block untrusted pulls plugin Socket for the API
Documentation=man:container-trust-plugin(8)

[Socket]
ListenStream=/run/docker/plugins/container-trust-plugin.sock

[Install]
WantedBy=sockets.target
